<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/estilo.css">
</head>
<body>
<div class="container">
<h1>Bienvenido <%= nombre %></h1>

<a href="/logout">Cerrar sesión</a>
</div>
</body>
</html>